{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'category.css' %}" />

{% endblock css %} {% block content %}
<div class="category_page">
  <div class="search_bar_box">
    <div class="bar_title">학회검색</div>
  </div>
  <div class="academy_contents_box">
    <div class="academy_category">
      <div class="category_selection">
        <form method="POST">
          <div class="select_bar">
            <div class="interest_name">관심분야</div>
            <select class="interest">
              <option value="business">경영</option>
              <option value="economics">경제</option>
              <option value="humanities">인문</option>
              <option value="law">법</option>
              <option value="coding">코딩</option>
              <option value="lifescience">생명과학</option>
              <option value="environenginner">환경공학</option>
            </select>
          </div>

          <div class="select_bar">
            <div class="select_name">정렬방식</div>
            <select class="deadline">
              <option value="business">마감기간순</option>
              <option value="economics">Like 많은 순</option>
            </select>
          </div>
        </form>
      </div>
      <div class="academy_submit">
        <a href="{% url 'academy_form' %}" class="bar">학회등록</a>
      </div>
    </div>
    <br />
    <div class="academy_list">
      {% for post in posts %}
      <div class="academy_content">
        <div class="academy_pic">
          {% if post.logo %}
          <img src="{{post.logo.url}}" />
          {% endif %}
        </div>
        <div class="academy_description">
          <div class="academy_profile">
            <div class="academy_title">
              <a href="{% url 'academy' post.pk %}"> {{post.title}} </a>
            </div>
            <div class="academy_sorting">{{post.category}}</div>
          </div>
          <div class="short_description">{{post.content}}</div>
          <div class="applicant">{{post.target}}</div>
          <div class="apply_start">{{post.apply_start}}</div>
          <div class="apply_end">{{post.apply_end}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
