{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mypage.css' %}">
{% endblock css %}

{% block undefined %}
<h1>내 관심 분야</h1>
<div class="like-cate">
<div class="like">코딩</div>
<div class="like">경영</div>
<div class="like">금융</div>
</div>
<hr width="1241px">
<h1>Like 학회</h1>
<div class="like-aca1">
    <div class="like-aca1-logo">
    <img src="#">
    </div>
    <div class="like-aca1-title">LIKELION</div>
    <div class="like-aca1-content">
    한줄설명:
    <br>
    모집대상:
    </div>
    <div class="like-aca1-date">2021-05-29</div>
</div>
<div class="like-aca2">
    <div class="like-aca2-logo">
    <img src="#">
    </div>
    <div class="like-aca1-title">LIKELION</div>
    <div class="like-aca1-content">
    한줄설명:
    <br>
    모집대상:
    </div>
</div>

<hr width="1241px">
<h1>학회모집일정</h1>
</div>
{% endblock undefined %}