@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
    font-family: spoqa-han-sans;
    background-color: black;
    color: white;
}

.body {
    padding: 98px 128px 162px 112px;
    width: 1440px;
    height: 1834px;
}

.like {
    width: 150px;
    height: 21px;
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    align-items: center;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 100px;
    margin-top: 50px;
}

.like-cate {
    display: flex;
    width: 804px;
    justify-content: space-around;
    margin-bottom: 178px;
}

.likes {
    font-size: 36px;
    font-weight: bold;
    width: 1241px;
    margin-top: 137px;
}

.like-aca1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1054px;
    margin: 100px 0px 100px 0px;
}

.like-aca-bold {
    font-size: 28px;
    font-weight: bold;
}

.like-aca-content {
    font-size: 18px;
    padding-bottom: 30px;
}

.like-aca-cate {
    font-size: 18px;
}