@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
* {
    font-family: spoqa-han-sans;
    background-color: black;
    color: white;
    font-size: 18px;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-bottom: 203px;
}

.id {
    margin-bottom: 89px;
}

input {
    width: 517px;
    height: 57px;
}

.auth-cate {
    display: flex;
    flex-direction: row;
}

.auth-cate1 {
    width: 245px;
    height: 57px;
}

.login_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    width: 509px;
    height: 57px;
    background-color: white;
    color: black;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin-top: 89px;
    margin-bottom: 141px;
}

a {
    text-decoration: none;
}